<h2>Chat with our AI assistant powered by OpenAI GPT-3.5 model</h2>

<div class="product-image">
  <img src="assets/img/ai.jpg" alt="image" />
</div>

<div>
  <div>
    <textarea
      [(ngModel)]="latestQuestion"
      cols="50"
      rows="5"
      placeholder="enter your message here.."
    ></textarea>
    <button class="button fancy-button" (click)="send()">Send</button>
  </div>

  <div class="chat-container">
    <div class="button fancy-button" *ngIf="isLoading">
      AI is thinking ... <i class="material-icons">hourglass_empty</i>
    </div>
    <div *ngFor="let item of conversation.slice().reverse()">
      <div *ngIf="item.role === 'AI'">
        <p>{{ item.role }} : {{ item.content }}</p>
      </div>
      <div *ngIf="item.role !== 'AI'">
        <p class="color-blue">{{ item.role }} : {{ item.content }}</p>
      </div>
    </div>
  </div>
</div>
