<div class="product-image">
  <img src="assets/img/contact-us.jpg" alt="image" />
</div>

<h1>Get in touch</h1>
<h2>
  If you have any questions or need help, please fill out the form below. We do
  our best to respond within 100 business days.
</h2>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name"> Name </label>
    <input
      class="form-control"
      id="name"
      type="text"
      formControlName="name"
      required
    />
  </div>

  <div>
    <label for="email"> Email </label>
    <input
      class="form-control"
      id="email"
      type="text"
      formControlName="email"
      required
    />
  </div>

  <div>
    <label for="subject"> Subject </label>
    <input
      class="form-control"
      id="subject"
      type="text"
      formControlName="subject"
      required
    />
  </div>

  <div>
    <label for="message"> Message </label>
    <input
      class="form-control"
      id="message"
      type="text"
      formControlName="message"
      required
    />
  </div>

  <button class="button" [disabled]="contactForm.invalid" type="submit">
    Send
  </button>
</form>
