<h2>Cart:</h2>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency: 'DKK' }}</span>
</div>

<h2>Price in total: {{ priceInTotal }} kr</h2>


<h2>Deliver to:</h2>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name"> Name </label>
    <input class="form-control" id="name" type="text" formControlName="name" required/>
  </div>

  <div>
    <label for="email"> Email </label>
    <input class="form-control" id="email" type="text" formControlName="email" required />
  </div>

  <div>
    <label for="address"> Address </label>
    <input class="form-control" id="address" type="text" formControlName="address" required/>
  </div>

  <button class="button" [disabled]="checkoutForm.invalid" type="submit">Purchase</button>

</form>